html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #242f40;
}
body h2 {
  font-family: monospace;
  font-size: 62px;
  color: #cdd5e3;
  margin: 1rem 0;
}
body p {
  font-family: monospace;
  font-size: 22px;
  color: #cdd5e3;
  margin: 2rem auto;
}
body li {
  font-family: monospace;
  font-size: 15px;
  color: #cdd5e3;
}
body .max__body {
  width: 1600px;
}
body .max__nav {
  max-width: 900px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: flex-end;
  width: 100%;
  height: 7em;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #364761;
  padding-bottom: 0.8em;
  margin-bottom: 1em;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
header nav ul li {
  margin-left: 4em;
}
header nav ul li .logo__nav {
  background-image: url("./img/mini%20logo%20leanFast.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
  margin-right: 12px;
}
header nav ul > li:first-child {
  border-right: 2px solid #364761;
  margin-left: 0;
}
header nav ul li i {
  margin-right: 15px;
}

section {
  padding: 5em 0;
  width: 100%;
}
section.__background-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: flex-start;
  text-align: left;
  position: relative;
  height: 100vh;
}
section.__background-presentation::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("./img/cleanFast.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.25;
}
section div.__presentation-content {
  padding: 0 3em;
  position: relative;
}
section div.__title-presentation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
}

section.__services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #2d3b50;
}
section .text__services {
  width: 900px;
}
section .card__services {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 3em;
}
section .card__services .card {
  background-color: #cca43b;
  border-radius: 5px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 600px;
}

section.__maps {
  height: 710px;
}
section .__maps-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 2em;
}
section .__maps-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
}
section .__maps-content div.left__maps {
  flex-direction: column;
  text-align: left;
  padding-right: 6em;
}
section .__maps-content div.right__maps {
  background-color: #405371;
  border: 2px solid #5b77a2;
  border-radius: 5px;
  height: 550px;
}

section.__contact {
  height: 950px;
  background-color: #2d3b50;
}
section .__contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section .__contact-content hr {
  height: 200px;
  margin: 5px 50px;
}
section .__contact-content div {
  width: 40em;
}
section .__contact-content div.left__contact {
  text-align: right;
}
section .__contact-content div.right__contact {
  text-align: left;
}
section .__contact-content div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: end;
  flex-direction: column;
  row-gap: 20px;
}
section .__contact-content div ul li {
  font-size: 22px;
}
section .__contact-content div ul li i {
  margin-left: 25px;
}

section.__apropos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1006.5px;
  width: 100%;
}
section article.__apropos-content {
  position: relative;
  width: 600px;
  height: 100%;
}
section div.img__moulin {
  position: absolute;
  width: 600px;
  padding: 50px;
  background-color: #405371;
  border-radius: 5px;
  border: 2px solid #5b77a2;
  right: 18em;
  top: 2em;
  z-index: 5;
}
section div.img__moulin img {
  width: 100%;
}
section div.infos__moulin {
  position: absolute;
  width: 600px;
  padding: 50px;
  background-color: #405371;
  border-radius: 5px;
  border: 2px solid #5b77a2;
  bottom: 2em;
  left: 17em;
}

footer {
  background-color: #363636;
  width: 100%;
  height: 10em;
  border-top: 5px solid #434343;
}

/*# sourceMappingURL=style.css.map */
